// main: ../main.scss
/*--------------------------------------------------------------
# Post List Section
--------------------------------------------------------------*/
.post-list {
  article {
    background-color: var(--surface-color);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }

  .post-img {
    img {
      transition: 0.5s;
    }
  }

  .post-date {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    position: absolute;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
    font-size: 13px;
    padding: 6px 12px;
    font-weight: 500;
  }

  .post-content {
    padding: 30px;
  }

  .post-title {
    font-size: 20px;
    color: var(--heading-color);
    font-weight: 700;
    transition: 0.3s;
    margin-bottom: 15px;
  }

  .meta {
    i {
      font-size: 16px;
      color: var(--accent-color);
    }

    span {
      font-size: 15px;
      color: color-mix(in srgb, var(--default-color), transparent 40%);
    }
  }

  p {
    margin-top: 20px;
  }

  hr {
    color: color-mix(in srgb, var(--default-color), transparent 60%);
    margin-bottom: 15px;
  }

  .readmore {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
    color: color-mix(in srgb, var(--heading-color), transparent 20%);

    i {
      line-height: 0;
      margin-left: 6px;
      font-size: 16px;
    }
  }

  article:hover {

    .post-title,
    .readmore {
      color: var(--accent-color);
    }

    .post-img img {
      transform: scale(1.1)
    }
  }
}