/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 72px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 60px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;

  h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: 160px;
      height: 1px;
      background: color-mix(in srgb, var(--default-color), transparent 60%);
      left: 0;
      right: 0;
      bottom: 1px;
      margin: auto;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 60px;
      height: 3px;
      background: var(--accent-color);
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

  p {
    margin-bottom: 0;
  }
}

@import './sections/_hero.scss';
@import './sections/_about.scss';
@import './sections/_clients.scss';
@import './sections/_featured-services.scss';
@import './sections/_features.scss';
@import './sections/_how-we-work.scss';
@import './sections/_services.scss';
@import './sections/_testimonials.scss';
@import './sections/_faq.scss';
@import './sections/_contact.scss';
@import './sections/_destination-details.scss';
@import './sections/_service-details.scss';
@import './sections/_terms-of-service.scss';
@import './sections/_privacy.scss';
@import './sections/_destinations.scss';
@import './sections/_starter-section.scss';
@import './sections/_post-list.scss';
@import './sections/_post-details.scss';
@import './sections/_posts-section.scss';